/*defaul styles*/

nav#top-nav
{
   background-color: #272727;
   height:92px;
   width:100%;
   z-index: 1;
   position: fixed;
 }

nav#top-nav>div:first-child
{
  float: left;
  padding-top: 28px;
  padding-left: 64px;

}
nav#top-nav>div
{
  float:right;
  color:white;

}
nav#top-nav>div>ul>li,
nav#top-nav h3,h1,
nav#top-nav.logo
{
  float: right;
  font-size: 18px;
  padding-left: 2px;

}

nav#top-nav small
{
    display: block;

}
nav#top-nav>div>ul>li:only-child>a
{
  color:white;
  padding-right:67px;
  padding-top: 32px;
  font-size: 24px;
}

nav#top-nav>div:nth-child(3)>ul
{
  padding-right: 105px;
  padding-top: 20px;
}

nav#top-nav>div:nth-child(3)>ul>li>a
{
  color:white;
  padding: 15px;
}
nav#top-nav>div:nth-child(4)
{
  padding-right:110px;
  padding-top: 38px;
  }
  nav#top-nav>div:nth-child(4)>span>a
  {
    color: white;

  }

nav#top-nav>div h3 a
{
  color:white;
}
/**********************************************************************************/
section#font-carousel
{
  background-color: #272727;
  width: 100%;

}
section#font-carousel>div#page_1>div:nth-child(1)>div
{
padding-left: 64px;
padding-right: 65px;
padding-bottom: 40px;
}
section#font-carousel>div#page_1>div>div>img
{
   position: relative;
   width: 100%;
}



section#font-carousel>div#page_1>div:nth-child(2)
{
  position: absolute;
  width: 132px;
  height: 302px;
  border: 2px solid #cee002;
 top: 120px;
 left: 423px;
}

section#font-carousel>div#page_1>h4
{
  position: absolute;
  color: white;
  top: 177px;
  padding-left: 464px;
}

section#font-carousel>div#page_1>h1
{
  position: absolute;
  color: white;
  padding-bottom: 20px;
  padding-left: 157px;
  width: 20%;
  top: 203px;
  left: 306px;
  font-size: 45px;
}
section#font-carousel>div#page_1>div:last-child>div:first-child
{
    width: 29px;
    height: 5px;
    position: absolute;
    background-color: #cee002;
    top: 521px;
    left: 821px;
}
section#font-carousel>div#page_1>div:last-child>div:first-child>a
{
    padding: 15px;
  }
  section#font-carousel>div#page_1>div:last-child>div:nth-child(2)
  {
      width: 29px;
      height: 5px;
      position: absolute;
      background-color: #cee002;
      top: 521px;
      left: 856px;
  }
  section#font-carousel>div#page_1>div:last-child>div:nth-child(2)>a
  {
      padding: 15px;
    }
    section#font-carousel>div#page_1>div:last-child>div:last-child
    {
        width: 29px;
        height: 5px;
        position: absolute;
        background-color: #cee002;
        top: 521px;
        left: 891px;
    }
    section#font-carousel>div#page_1>div:last-child>div:last-child>a
    {
        padding: 15px;
      }
/*************************************page_2************************************/
.clearfix
{
     width:100%;
      clear:both;/*чтобы спустить header вниз*/
}
      section#font-carousel>div#page_2
      {
        padding:100px 0%;
         width:100%;

      }


      section#font-carousel>div#page_2>div:first-child
      {
         width: 50%;
         float: left;
      }
      section#font-carousel>div#page_2>div:first-child>h4
      {
        color:#cee002;
        padding-bottom: 20px;
        padding-left: 65px;
      }
      section#font-carousel>div#page_2>div:first-child>h1
      {
        color:white;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 65px;
        font-size: 36px;
        width: 85%;
        float: left;
      }
      section#font-carousel>div#page_2>div:first-child>p
      {color:#333;
        padding-bottom: 20px;
        padding-left: 65px;
       line-height: 2;
        width:88%;
        float: left;
      }
       section#font-carousel>div#page_2>div:first-child>div
       {
        float: left;
        width: 150px;
        height: 150px;;
        border: 6px solid #cee002;
        margin-top: 43px;
        margin-left: 70px;

       }

       section#font-carousel>div#page_2>div:first-child>div>h5
  {
    font-size: 502%;
    margin-top: 32px;
    margin-left: 70px;
    color: white;
    position: absolute;
  }
  section#font-carousel>div#page_2>div:first-child>div>h3:last-child
  {
    margin-top: 47px;
    margin-left: 165px;
    color: white;
    position: absolute;
    width: 10%;
  }

section#font-carousel>div#page_2>div:nth-child(2)
      {
         width: 50%;
         float: right;
      }
      section#font-carousel>div#page_2>div:nth-child(2)>div
            {

        width: 455px;
        height: 307px;
        right: 146px;
        margin-top: 325px;
        background: url(../images/dots.png) 0 0 repeat;
        position: absolute;
      }

      section#font-carousel>div#page_2>div:nth-child(2)>img
      {
        width: 451px;
        height: 542px;
        right: 66px;
        position: absolute;
        margin-left: 125px;

      }

/**************************************page3********************************      */

section#font-carousel>div#page_3
{
  padding:100px 0%;
   width:100%;

}

section#font-carousel>div#page_3>div.mpage_3
{
  padding-bottom: 150px;
}
section#font-carousel>div#page_3>div.mpage_3>div:first-child>h2
{
    font-size: 2.571rem;
    color: #fff;
    float: left;
    padding-bottom: 25px;
    padding-left: 66px;
}
section#font-carousel>div#page_3>div.mpage_3>div:nth-child(2)
{
    float: right;
}
section#font-carousel>div#page_3>div.mpage_3>div:nth-child(2)>div
{
    float: right;
    padding-top: 18px;

}
section#font-carousel>div#page_3>div.mpage_3>div:nth-child(2)>div>ul
{
    float:left;
}
section#font-carousel>div#page_3>div.mpage_3>div:nth-child(2)>div>a
{
    float:right;
    padding-right: 59px;
    color: white;
    font-style:italic;
    font-size: 24px;

}
section#font-carousel>div#page_3>div.mpage_3>div:nth-child(2)>div:first-child>ul>li
{
  float: left;
}
section#font-carousel>div#page_3>div.mpage_3>div:nth-child(2)>div:first-child>ul>li:first-child>a
{
  padding-right: 40px;
  color: white;
  font-size: 24px;
  }
section#font-carousel>div#page_3>div.mpage_3>div:nth-child(2)>div:first-child>ul>li:nth-child(2)>a
{
  padding-right: 40px;
  color: white;
  font-size: 24px;
}
section#font-carousel>div#page_3>div.mpage_3>div:nth-child(2)>div:first-child>ul>li:nth-child(3)>a
{

  padding-right: 65px;
  color: white;
  font-size: 24px;
}

section#font-carousel>div#page_3>div#carus_2
{
    margin-left: 66px;
    margin-right: 60px;

}
section#font-carousel>div#page_3>div#carus_2>div.galery:nth-child(1)
{
  background-image: url(..//images/slide1.jpg);
}

section#font-carousel>div#page_3>div#carus_2>div.galery:nth-child(2)
{
  background-image: url(..//images/slide2.jpg);
}
section#font-carousel>div#page_3>div#carus_2>div.galery:nth-child(3)
{
  background-image: url(..//images/slide3.jpg);

}
section#font-carousel>div#page_3>div#carus_2>div.galery{

    width: 31%;
    background-size:100% 100%;
    height: 450px;
    margin: 10px;
    float: left;
  }

  .galery p
  {
    opacity: 0;
  }
  .galery:hover .deco{
    width: 100%;
    height: 450px;
    background-color: #cee002;
    transition: 1s;
    opacity: 0.8;
    }

    .galery .deco h2
    {
      padding-top: 260px;
      color: white;
      width: 40%;
      padding-left: 50px;
      font-size: 30px;
    }
    .galery .deco a
    {
        color: white;
      padding-left: 50px;
    }

      .galery:hover .deco p
    {
      opacity: 2;
      color: black;
      padding-top: 20px;
      padding-left: 50px;
      padding-bottom: 220px;



    }
    .galery:hover .deco h2
    { padding-top: 20px;
      opacity: 2;
      color: black;
    }

    .galery:hover .deco a
    {
      color: black;

    }

    section#font-carousel>div#page_3>div:nth-last-child(2)
    {
      padding-top: 509px;
      padding-left: 623px;
      width: 100px;
      }

    section#font-carousel>div#page_3>div:nth-last-child(2)>div:first-child
    {
      width: 10px;
      height: 10px;
      background-color: #cee002;
  position: absolute;

    }
    section#font-carousel>div#page_3>div:nth-last-child(2)>div:first-child>a
    {
         padding: 15px;
      }
      section#font-carousel>div#page_3>div:nth-last-child(2)>div:nth-child(2)
      {
         width: 10px;
         height: 10px;
         background-color: #cee002;
         position: absolute;
         left: 665px;

      }
      section#font-carousel>div#page_3>div:nth-last-child(2)>div:nth-child(2)>a
      {
          padding: 1px;
        }
        section#font-carousel>div#page_3>div:nth-last-child(2)>div:last-child
        {
           width: 10px;
           height: 10px;
           background-color: #cee002;
           position: absolute;
           left: 708px;

        }
        section#font-carousel>div#page_3>div:last-child>div:nth-last-child(2)>a
        {
            padding: 15px;
          }
